<div class="container">

  <section class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>Cars</h1>
      </div>
    </div>
  </section>

  <section class="row my-3">
    <div class="col-12">
      <div class="p-3 cool-form">
        <form onsubmit="app.CarsController.createCar()">
          <div class="mb-3">
            <label for="make" class="form-label">Car Make</label>
            <input type="text" class="form-control" id="make" placeholder="Car Make..." required maxlength="100">
          </div>
          <div class="mb-3">
            <label for="model" class="form-label">Car Model</label>
            <input type="text" class="form-control" id="model" placeholder="Car Model..." required maxlength="150">
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Car Year</label>
            <input type="number" class="form-control" id="year" placeholder="2025" required min="1908" max="2026">
          </div>
          <div class="mb-3">
            <label for="mileage" class="form-label">Car Mileage</label>
            <input type="number" class="form-control" id="mileage" placeholder="0" required min="0" max="400000">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Car Price</label>
            <input type="range" class="form-range" id="price" min="0" max="1000000">
          </div>
          <div class="mb-3">
            <label for="imgURL" class="form-label">Car ImgURL</label>
            <input type="url" class="form-control" id="imgURL" required maxlength="2000">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Car Description</label>
            <textarea class="form-control" id="description" rows="3" maxlength="2000"></textarea>
          </div>
          <div class="mb-3">
            <label for="fuelType">Type of Fuel</label>
            <select class="form-select" id="fuelType">
              <option selected>Open this select menu</option>
              <option value="gasoline">Gasoline</option>
              <option value="diesel">Diesel</option>
              <option value="electricity">Electricity</option>
              <option value="oats">Oats</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="color" class="form-label">Car Color</label>
            <input type="color" class="form-control form-control-color" id="color" value="#00000"
              title="Choose your car's color">
          </div>
          <div class="d-flex gap-4">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="hasCleanTitle">
              <label class="form-check-label" for="hasCleanTitle">
                Does the car have a clean title?
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="runs">
              <label class="form-check-label" for="runs">
                Does the car run?
              </label>
            </div>
          </div>
          <div class="text-end">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section id="carListings" class="row">
    <!-- STUB car card HTML template -->
    <!-- <div class="col-12 mb-3">
      <div class="car-card shadow">
        <div class="row">
          <div class="col-12 col-md-4 ">
            <img class="img-fluid bg-dark"
              src="https://images.unsplash.com/photo-1552615526-40e47a79f9d7?q=80&w=2176&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Mazda Miata">
          </div>
          <div class="col-12 col-md-8">
            <div class="p-3">
              <h2>1997 Mazda Miata</h2>
              <h2>$6000</h2>
              <h3>2000 miles Clean Title</h3>
              <h4>Runs on gasoline</h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed veritatis ullam mollitia sit perspiciatis
                totam eligendi commodi, debitis earum alias!</p>
              <h5>
                <i class="mdi mdi-car-off" title="The car is broken"></i>
                <i class="mdi mdi-car" title="Runs great"></i>
              </h5>
              <div class="text-end">
                <button class="btn btn-success" type="button">Notify Seller</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
</div>